*, 
*::after, 
*::before{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
}
div.container{
    display: inline-flex;
    background-color: red;
    width: 100%;
}
div.navcontainer{
    width: 100%;
    height: 50px;
    display:inline-flex;
}
ul.list{
    display: inline-flex;
    align-items: flex-end;

}
li{
    display: inline-block;
    text-align: right;
    font-size: 20px;
    justify-content: space-around;
    margin-left: 20px;
}
div.modifier{
    background-image: url("background2.jpg");
    width: 100%;
    height: 700px; 
    animation: modify infinite 4s;  
}
@keyframes modify{
    0% {opacity: 0.9;}
    25% {opacity: 0.6;}
    50% {opacity: 0.3;}
    75% {opacity: 0.1;}
    100% {opacity: 0.9;}
}
.align{
    display: inline-block;
}
